<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html
    lang="es"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    layout:decorate="~{layout/layout}">
    <head>
        <title th:text="#{title}">TODO supply a title</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        
        <div layout:fragment="contenido" class="productos">

            <div class="container-fluid">  
                <div class="row">
                    <div class="col-12">
                        <div class="card m-4">
                            
                            <div class="card-header">
                                <h5 class="card-title" th:text="#{subPro}"></h5>
                            </div>
                            
                            <div class="card-body table-responsive">
                                <table id="tablaProductos" class="table table-striped table-hover 
                                       table-bordered table-sm" style="width: 100%;">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th style="width: 10px;">Imagen</th>
                                            <th>Cod Barra</th>
                                            <th>Productos</th>
                                            <th>Precio</th> 
                                            <th>Existencias</th>
                                            <th>Opciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="p : ${productos}">
                                            <td th:text="${p.id}"></td>
                                            <td>
                                                <img alt="Sin Imagen :/" th:src="@{${p.linkImagen}}" height="150px"/>
                                            </td>
                                            <td th:text="${p.codigoBarras}"></td>
                                            <td th:text="${p.descripcion}"></td>
                                            <td th:text="${p.precio}"></td>
                                            <td th:text="${p.stock}"></td>
                                            <td>
                                                <div class="d-grid gap-2 d-md-block" >
                                                    
                                                    <a th:href="@{/productos/editar/} + ${p.id}"
                                                       th:text="#{editPro}" class="btn btn-warning m-2"
                                                       data-bs-toogle="tooltip" data-bs-placement="bottom">
                                                    </a>
                                                    
                                                    <a th:href="@{/productos/del/} + ${p.id}" 
                                                       th:text="#{delPro}" class="btn btn-danger m-2"
                                                       data-bs-toogle="tooltip" data-bs-placement="bottom"
                                                       onclick="return confirm('¿Estas seguro de Borrar el Producto?');">
                                                    </a>
                                                    
                                                    <a class="btn btn-success m-2" data-bs-toogle="tooltip" 
                                                       data-bs-placement="bottom" th:text="#{inhPro}">
                                                    </a>
                                                    
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table> 
                            </div>
                            
                            <div class="card-footer ">
                                <a th:href="@{/productos/nuevo}" class="btn btn-outline-primary float-end" 
                                   th:text="#{newPro}">
                                </a>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <!-- JS -->
<!--        <script th:fragment="js" th:src="@{/js/productos.js}"></script>-->
            <script th:src="@{/js/productos.js}" th:fragment="js"></script>
    </body>
</html>
