/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 03/08/2022, 19:22:01
    Author     : Micholini
*/

.ventas{
    padding-top: 26px;
    padding-left: 36px;
    padding-right: 36px;
}

.cont{
    width: 100%;
    text-align: right;
    margin-top: 5px;
    color: grey;
}